.tmp/
bower_components/
node_modules/
.idea/

/base
/build
.tmp
*.save
src/**/*.map
src/client/**/*.js
!src/client/**/*.spec.js

# Ignore Test reporters
###################
**/test/coverage
report

# IDEs
*.iml
.vscode
