<div class="row">
  <h2>Create Device</h2>
  <div class="input-group">
    <form role="form">
      <div class="form-group">
        <label for="ip">IP Address:</label>
        <input type="text" ng-model="vm.device.ip" class="form-control" id="ip">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" ng-model="vm.device.name" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="tel" ng-model="vm.device.description" class="form-control" id="description">
      </div>
      <div class="form-group">
        <label for="mac">MAC Address:</label>
        <input type="tel" ng-model="vm.device.mac" class="form-control" id="mac">
      </div>
      <button type="submit" ng-click="vm.create(vm.device)" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <h2>Devices</h2>
  <table ng-show="vm.devices" class="table table-striped">
    <thead>
    <tr>
      <th>IP</th>
      <th>Name</th>
      <th>Description</th>
      <th>MAC</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="device in vm.devices">
      <td><a ng-link="['Details', { id:device._id }]">{{device.ip}}</a></td>
      <td>{{device.name}}</td>
      <td>{{device.description}}</td>
      <td>{{device.mac}}</td>
      <td><button type="button" ng-click="vm.purge(device)" class="btn btn-default">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
